<a href="https://colab.research.google.com/github/KirstenClem/ds1002-knc2mgd/blob/main/KirstenC%20week_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [1]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [2]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"
my_integers <- c(2, 4, 6, 8, 10, 12, 14)

print(my_integers)

[1]  2  4  6  8 10 12 14

In [3]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

newvariable_1 <- var2 / var1

newvariable_2 <- var2^3 * var3

newvariable_3 <- (var4) %/% var3


print(newvariable_1)
print(newvariable_2)
print(newvariable_3)

my_calculated_values <- array(c(newvariable_1, newvariable_2, newvariable_3), dim = c(1, 3))
print(my_calculated_values)

[1] 0.5
[1] 768
[1] 2
     [,1] [,2] [,3]
[1,]  0.5  768    2

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [4]:
#
vector_1 <- seq(from = 4, to = 28, by = 3)
print(vector_1)

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [5]:
mod_vector <- vector_1[-3]
print(mod_vector)

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [12]:
#

mod_vector2 <- mod_vector[-c(4, 5, 7)]
print(mod_vector2)

[1]  4  7 13 22 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [19]:
#
artist <- c("Justin Bieber", "Taylor Swift", "The Beatles", "Ariana Grande", "Arctic Monkeys", "Coldplay", "Keith Urban",
            "Thomas Rhett", "Luke Bryan", "Boston")
category <- c("Pop", "Pop", "Rock", "Pop", "Alternative Rock", "Alternative Rock", "Country", "Country",
              "Country", "Rock")
size <- c("1", "1", "4","1", "4","4","1","1","1","4")
start <- c(2010,2006,1963,2013,2006,2000,1991,2013,2007,1976)
grammy <- c(TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, FALSE, FALSE, TRUE)

df <- data.frame(Artist = artist, Category=category, Size = size, Start = start, Grammy = grammy)

df

   Artist         Category         Size Start Grammy
1  Justin Bieber  Pop              1    2010   TRUE
2  Taylor Swift   Pop              1    2006   TRUE
3  The Beatles    Rock             4    1963   TRUE
4  Ariana Grande  Pop              1    2013   TRUE
5  Arctic Monkeys Alternative      4    2006   TRUE
6  Coldplay       Alternative Rock 4    2000   TRUE
7  Keith Urban    Country          1    1991   TRUE
8  Thomas Rhett   Country          1    2013  FALSE
9  Luke Bryan     Country          1    2007  FALSE
10 Boston         Rock             4    1976   TRUE

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [27]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.
df[ ,c(1,2,5)]

   Artist         Category         Grammy
1  Justin Bieber  Pop               TRUE
2  Taylor Swift   Pop               TRUE
3  The Beatles    Rock              TRUE
4  Ariana Grande  Pop               TRUE
5  Arctic Monkeys Alternative       TRUE
6  Coldplay       Alternative Rock  TRUE
7  Keith Urban    Country           TRUE
8  Thomas Rhett   Country          FALSE
9  Luke Bryan     Country          FALSE
10 Boston         Rock              TRUE

In [29]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.
pop_artist <- df[df$category == "Pop", ]
print(pop_artist)
Rock_artist <- df[df$category == "Rock", ]
print(Rock_artist)
AltRock_artist <- df[df$category == "Alternative Rock", ]
print(AltRock_artist)
Country_artist <- df[df$category == "Country", ]
print(Country_artist)

[1] Artist   Category Size     Start    Grammy
<0 rows> (or 0-length row.names)
[1] Artist   Category Size     Start    Grammy
<0 rows> (or 0-length row.names)
[1] Artist   Category Size     Start    Grammy
<0 rows> (or 0-length row.names)
[1] Artist   Category Size     Start    Grammy
<0 rows> (or 0-length row.names)

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human. (That is, show species that are non-human only.)
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [30]:
#
install.packages("tidyverse")
library(tidyverse)
data(starwars)
glimpse(starwars)
data1 <- starwars %>%
  select(name, height, sex, species) %>%
  filter(species != "Human") %>%
  arrange(name)

print(data1)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Rows: 87
Columns: 14
$ name       <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia Or…
$ height     <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180, 2…
$ mass       <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, 77.…
$ hair_color <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown", N…
$ skin_color <chr> "fair", "gold", "white, blue", "white", "light", "light", "…
$ eye_color  <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blue",…
$ birth_year <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.0, …
$ sex        <chr> "male", "none", "none", "male", "female", "male", "female",…
$ gender     <chr> "masculine", "masculine", "masculine", "masculine", "femini…
$ homeworld  <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan", "T…
$ species    <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "Huma…
$ films      <list> <"A New Hope", "The Empire Strikes Back", "Return of the J…
$ vehicles   <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "Imp…
$ starships  <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x1",…
# A tibble: 48 × 4
   name           height sex    species
   <chr>           <int> <chr>  <chr>
 1 Ackbar            180 male   Mon Calamari
 2 Adi Gallia        184 female Tholothian
 3 Ayla Secura       178 female Twi'lek
 4 BB8                NA none   Droid
 5 Barriss Offee     166 female Mirialan
 6 Ben Quadinaros    163 male   Toong
 7 Bib Fortuna       180 male   Twi'lek
 8 Bossk             190 male   Trandoshan
 9 C-3PO             167 none   Droid
10 Chewbacca         228 male   Wookiee
# ℹ 38 more rows