<a href="https://colab.research.google.com/github/KirstenClem/ds1002-knc2mgd/blob/main/labs/lab2/lab2-race-results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DS1002 Lab 2: Determine Race Results with R

In this lab you will work with a dataset, writing R to generate the deliverables specified in the cells below.

The dataset for this lab is made up of fictitious results from a road race. Runner information and results is provided in the data.

Answer the questions below with the appropriate R code. Point assignments are indicated for each section. There are 10 total points possible for this lab.

Useful reference material (check all R modules within the Canvas site for more help)
- [R Reference Material](https://canvas.its.virginia.edu/courses/78571/modules#module_219810).
- [Plots Samples](https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/25-plots-in-r.ipynb)

## Group Submissions

If you are working in a group to complete this lab, you may have no more than 3 members to a group. Group members should be indicated in the cell below -- list both names and UVA computing IDs.

Each student should then submit **the same URL** for the lab in Canvas. (If a group has Member1, Member2, and Member3, only one member needs to save the completed work back to GitHub and all members should submit that URL for grading.)

In [ ]:
# List group members (if applicable). Identify names and computing IDs

# Kirsten Clements             Computing ID knc2mgd

## 1. Load Libraries & Data (1 pt)

https://raw.githubusercontent.com/nmagee/ds1002/main/data/road-race.csv

Import any necessary libraries and load the remote CSV file below into a data frame.

In [7]:
#
library(readr)
library(dplyr)
url <- "https://raw.githubusercontent.com/nmagee/ds1002/main/data/road-race.csv"
race_data <- read_csv(url)
str(race_data)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Rows: 764 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): runner_name, runner_gender
dbl  (2): runner_bib, runner_age
time (1): finish_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

spc_tbl_ [764 × 5] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ runner_bib   : num [1:764] 1 2 3 4 5 6 7 8 9 10 ...
 $ runner_name  : chr [1:764] "Loydie Lopes" "Lorens Crispe" "Shirline Hasser" "Alleyn Hartshorn" ...
 $ runner_age   : num [1:764] 17 33 22 39 50 44 51 44 30 60 ...
 $ runner_gender: chr [1:764] "Male" "Male" "Female" "Male" ...
 $ finish_time  : 'hms' num [1:764] 16:01:00 15:40:00 14:20:00 17:06:00 ...
  ..- attr(*, "units")= chr "secs"
 - attr(*, "spec")=
  .. cols(
  ..   runner_bib = col_double(),
  ..   runner_name = col_character(),
  ..   runner_age = col_double(),
  ..   runner_gender = col_character(),
  ..   finish_time = col_time(format = "")
  .. )
 - attr(*, "problems")=<externalptr>

## 2. Get Summary Data (1 pt)

In code, display how many rows and columns are in the raw dataset.

In [6]:
#
num_row <- nrow(race_data)
num_col <- ncol(race_data)
print(num_row)
print(num_col)

[1] 764
[1] 5

## 3. Clean and Organize the Data (2 pts)

Check for data quality.

- Resolve any duplicate rows.
- If a runner does not have a finish time, they are DNF and should not be counted in the dataset.

In [3]:
#
race_data <- race_data[!duplicated(race_data), ]
str(race_data)
race_data <- race_data[complete.cases(race_data$Finish_Time), ]
str(race_data)

ERROR: ignored

Now display the first 10 rows of the cleaned dataset.

In [13]:
#
head(race_data, 10)

   runner_bib runner_name      runner_age runner_gender finish_time
1   1         Loydie Lopes     17         Male          16:01:00
2   2         Lorens Crispe    33         Male          15:40:00
3   3         Shirline Hasser  22         Female        14:20:00
4   4         Alleyn Hartshorn 39         Male          17:06:00
5   5         Wang MacColl     50         Male          16:49:00
6   6         Tonnie Tidder    44         Male          15:43:00
7   7         Hermy Everal     51         Male                NA
8   8         Basil Moxsom     44         Male          15:16:00
9   9         Lark Bragge      30         Female        15:59:00
10 10         Kent Wakely      60         Male          14:29:00

## 4. Calculate Elapsed Time (3 pts)

Using R, add a new column named `["finish_minutes"]` to the dataframe that calculates the number of minutes it took for the runner to complete the race. Ideally this is a column consisting of plain integers.

The starting gun was fired at precisely 12:00pm that day.

Note: This is calculated using a built-in function of R, `difftime()` which takes 3 parameters:

- End time
- Start time
- Units

The result is an output that figures the difference between the two: `3 days`, `14 years`, `112 mins`, etc.

The syntax for that function is below. Take care to use the proper order of parameters. The `as.POSIXct` casting makes it possible to read a long datetime in the `YYYY-MM-DDTHH:MM` format, a common `datetime` value. The `format` parameter specifies the pattern you are trying to read.

```
df$new-column <- (difftime( as.POSIXct(df$end-column, format="%Y-%m-%dT%H:%M"),
                            as.POSIXct(df$start-column, format="%Y-%m-%dT%H:%M"),
                            units="min"))
```

In [4]:
#
url <- "https://raw.githubusercontent.com/nmagee/ds1002/main/data/road-race.csv"
data_race <- read.csv(url)
data_race$Finish_Time <- as.POSIXct(data_race$finish_time, format = "%Y-%m-%dT%H:%M")
start <- as.POSIXct("12:00", format = "%H:%M")
data_race$finish_minutes <- as.integer(difftime(data_race$Finish_Time, start, units = "mins"))
head(data_race[, c("Finish_Time", "finish_minutes")], 10)

   Finish_Time finish_minutes
1  <NA>        NA
2  <NA>        NA
3  <NA>        NA
4  <NA>        NA
5  <NA>        NA
6  <NA>        NA
7  <NA>        NA
8  <NA>        NA
9  <NA>        NA
10 <NA>        NA

## 5. Identify Winners by Gender (2 pts)

Based on the minutes it took each runner to complete the race, identify the top three places for each gender.

There are several ways to do this, some of which require less code than others. You will only be graded for producing the correct output, not on how elegant/advanced your programming is.

In [5]:
#
library(dplyr)
data_race <- data_race %>%
  arrange(runner_gender, finish_minutes) %>%
  group_by(runner_gender) %>%
  mutate(rank = row_number()) %>%
  filter(rank <= 3) %>%
  select(-rank) %>%
  ungroup()

print(data_race[, c("runner_gender", "finish_minutes")])

Attaching package: ‘dplyr’


The following object is masked from ‘package:gridExtra’:

    combine


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

# A tibble: 24 × 2
   runner_gender finish_minutes
   <chr>                  <int>
 1 Agender                   NA
 2 Agender                   NA
 3 Agender                   NA
 4 Bigender                  NA
 5 Bigender                  NA
 6 Bigender                  NA
 7 Female                    NA
 8 Female                    NA
 9 Female                    NA
10 Genderfluid               NA
# ℹ 14 more rows

## 6. Plot the Data (3 pts)

Finally, using `ggplot2` create two plots of the data -- density plots of race finishers.

- In the first plot use `finish_minutes` as the x axis.
- In the second plot use `runner_age` as the x axis.
- Use `runner_gender` as the fill.
- We suggest using a `geom_density(alpha=0.2)` or therabouts to see layers through one another.
- Use the `gridExtra` library's `grid.arrange()` method to plot them both.

You will note that since this is artificial data you will be able to see the gender layers clearly enough but they will not be statistically meaningful.

In [ ]:
#
install.packages("gridExtra")
install.packages("ggplot2")
library(ggplot2)
library(gridExtra)

minutes_plot <- ggplot(data_race, aes(x = finish_minutes, fill = runner_gender)) +
  geom_density(alpha = 0.2) +
  labs(title = "Runners by Minutes", x = "Minutes") +
  theme_bw()

age_plot <- ggplot(data_race, aes(x = runner_age, fill = runner_gender)) +
  geom_density(alpha = 0.2) +
  labs(title = "Runners by Age", x = "Age") +
  theme_bw()
grid.arrange(age_plot, minutes_plot, ncol = 2)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)