<a href="https://colab.research.google.com/github/KirstenClem/ds1002-knc2mgd/blob/main/NEWhomework/week-13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [1]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [ ]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"
my_integers <- c(2, 4, 6, 8, 10, 12, 14)

print(my_integers)

In [ ]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

newvariable_1 <- var2 / var1

newvariable_2 <- var2^3 * var3

newvariable_3 <- (var4) %/% var3


print(newvariable_1)
print(newvariable_2)
print(newvariable_3)

my_calculated_values <- array(c(newvariable_1, newvariable_2, newvariable_3), dim = c(1, 3))
print(my_calculated_values)

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [ ]:
#
vector_1 <- seq(from = 4, to = 28, by = 3)
print(vector_1)

Next, show how to display this vector with the 3 index removed.

In [ ]:
#
mod_vector <- vector_1[-3]
print(mod_vector)

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [ ]:
#
mod_vector2 <- mod_vector[-c(4, 5, 7)]
print(mod_vector2)

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [2]:
#

artist <- c("Justin Bieber", "Taylor Swift", "The Beatles", "Ariana Grande", "Arctic Monkeys", "Coldplay", "Keith Urban",
            "Thomas Rhett", "Luke Bryan", "Boston")
category <- c("Pop", "Pop", "Rock", "Pop", "Alternative Rock", "Alternative Rock", "Country", "Country",
              "Country", "Rock")
size <- c("1", "1", "4","1", "4","4","1","1","1","4")
start <- c(2010,2006,1963,2013,2006,2000,1991,2013,2007,1976)
grammy <- c(TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, FALSE, FALSE, TRUE)

df <- data.frame(Artist = artist, Category=category, Size = size, Start = start, Grammy = grammy)

df

   Artist         Category         Size Start Grammy
1  Justin Bieber  Pop              1    2010   TRUE
2  Taylor Swift   Pop              1    2006   TRUE
3  The Beatles    Rock             4    1963   TRUE
4  Ariana Grande  Pop              1    2013   TRUE
5  Arctic Monkeys Alternative Rock 4    2006   TRUE
6  Coldplay       Alternative Rock 4    2000   TRUE
7  Keith Urban    Country          1    1991   TRUE
8  Thomas Rhett   Country          1    2013  FALSE
9  Luke Bryan     Country          1    2007  FALSE
10 Boston         Rock             4    1976   TRUE

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [3]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.
df[ ,c(1,2,5)]

   Artist         Category         Grammy
1  Justin Bieber  Pop               TRUE
2  Taylor Swift   Pop               TRUE
3  The Beatles    Rock              TRUE
4  Ariana Grande  Pop               TRUE
5  Arctic Monkeys Alternative Rock  TRUE
6  Coldplay       Alternative Rock  TRUE
7  Keith Urban    Country           TRUE
8  Thomas Rhett   Country          FALSE
9  Luke Bryan     Country          FALSE
10 Boston         Rock              TRUE

In [15]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.

unique_cat <- unique(df$Category)
print(unique_cat)
df$Category <- trimws(tolower(df$Category))

categories_want <- c("pop", "rock", "alternative rock", "country")

for (category in categories_want) {
  df_new <- df[df$Category %in% category, ]
  print(df_new)
}

[1] "pop"              "rock"             "alternative rock" "country"
         Artist Category Size Start Grammy
1 Justin Bieber      pop    1  2010   TRUE
2  Taylor Swift      pop    1  2006   TRUE
4 Ariana Grande      pop    1  2013   TRUE
        Artist Category Size Start Grammy
3  The Beatles     rock    4  1963   TRUE
10      Boston     rock    4  1976   TRUE
          Artist         Category Size Start Grammy
5 Arctic Monkeys alternative rock    4  2006   TRUE
6       Coldplay alternative rock    4  2000   TRUE
        Artist Category Size Start Grammy
7  Keith Urban  country    1  1991   TRUE
8 Thomas Rhett  country    1  2013  FALSE
9   Luke Bryan  country    1  2007  FALSE

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human. (That is, show species that are non-human only.)
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [ ]:
#
install.packages("tidyverse")
library(tidyverse)
data(starwars)
glimpse(starwars)
data1 <- starwars %>%
  select(name, height, sex, species) %>%
  filter(species != "Human") %>%
  arrange(name)

print(data1)